@import "bootstrap-sprockets";
@import "bootstrap";

div.field {
  margin-left: 150px;
  margin-right: 150px;
    
}
div.actions {
  margin-left: 150px;
  margin-right: 150px;
    
}

.hei{
  height: 50px;
}

.skill{
  height: 80px;
}

.status{
  height: 100px;
}