@import "bootstrap-sprockets";
@import "bootstrap";

div.field {
  margin-left: 150px;
  margin-right: 150px;
    
}
div.actions {
  margin-left: 150px;
  margin-right: 150px;
    
}

.hei{
  width: 500px;
}

.skill{
  width: 500px;
}

.tb-time{
  width: 500px;
}

.bt-createjob{
  width: 100px;
}

.form-createjob{
  margin-left: 250px
}