@import "bootstrap-sprockets";
@import "bootstrap";

div.field {
  margin-left: 200px;
  margin-right: 200px;
  height: 30 !important;
    
}
div.actions {
  
  margin-left: 350px;
  margin-right: 350px;
  padding: 1px !important;
}

.hei{
  height: 28px !important;
}

.skill{
  height: 80px !important;
}

.status{
  height: 100px !important;
}

.back{
  margin-left: 200px !important;
}