<footer class="footer">
  <small>
    © 2019 チームアオザイ
  </small>
  <nav>
    <ul>
      <li><%= link_to "個人情報の取り扱いについて", '#' %></li>
      <li><%= link_to "このサイトについて", '#' %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
    </ul>
  </nav>
</footer>